{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Lead Frame No. {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-xs-7">
            <div class="jumbotron p-3">

                    <div class="form-group pull-right" style="margin:5px;">
                        <input type="text" class="form-control" id="mySearch" placeholder="Search">
                    </div>

                    <h3>Please select a lead frame no.:</h3>

                    </br>
                    </br>


                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>

                {{message}}
                </div>

                {% endfor %}
                {% endif %}
                {% endwith %}

                <table id="myTable" class="table table-hover table-sm text-center">
                    <thead>
                        <tr>
                            <th>Lead Frame No.</th>
                            <th></th>
                            <th>Supplier</th>
                            <th></th>
                            <th>Package No.</th>
                            <th></th>
                            <th>Title</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>



                    {% for lead in lead_types %}
                    <tr>
                        <td>{{ lead.lead_no }}</td>
                        <td></td>
                        <td>{{ lead.supplier }}</td>
                        <td></td>
                        <td>{{ lead.package_no }}</td>
                        <td></td>
                        <td>{{ lead.title }}</td>
                        <td></td>
                        <td>
                            <a href="/lead_type/{{ lead.lead_type_id }}" class="btn btn-success" >Select</a>
                        </td>
                    </tr>
               
                    {% endfor %}


                </table>


            </div>

        </div>

    </div>


</div>


{% endblock %}
