{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Login {% endblock %}

{% block body %}

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

<h1 class="fw-bold mb-2">Sign In</h1>
    <form action="" method="post" novalidate>


                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}

                {% if category=="error" %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                            <span aria-hidden="true">x</span>
                        </button>

                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-success alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                            <span aria-hidden="true">x</span>
                        </button>

                        {{ message }}
                    </div>
                {% endif %}

                {% endfor %}
                {% endif %}
                {% endwith %}

        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
        <p>New User Please <a href="{{ url_for('register') }}">Click Here</a> to Register</p>
            </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}