{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Wafer Description {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-xs-7">
            <div class="jumbotron p-3">

                <a href="/wafer_type" class="navbar-brand">
                    <h3>{{ wafer_type.wafer_device }} ({{wafer_type.wafer_charge}})</h3>
                </a>

                <div class="form-group pull-right" style="margin:5px;">
                    <input type="text" class="form-control" id="mySearch" placeholder="Search">
                </div>

                </br>
                </br>


                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}

                {% if category=="error" %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                            <span aria-hidden="true">x</span>
                        </button>

                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-success alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                            <span aria-hidden="true">x</span>
                        </button>

                        {{ message }}
                    </div>
                {% endif %}

                {% endfor %}
                {% endif %}
                {% endwith %}


                <table id="myTable" class="table table-hover table-sm text-center">
                    <thead>
                        <tr>
                            <th>Storage Location</th>
                            <th>Received Date</th>
                            <th>Project Leader</th>
                            <th>Incoming Qty (slice)</th>
                            <th>Slice No.</th>
                            <th>Transaction Date</th>
                            <th>Transaction By</th>
                            <th>Transaction Purpose/Remarks</th>
                            <th>Latest Balance</th>
                            <th>Transaction Status</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>



                    {% for wafer in wafer_descriptions %}
                    <tr>
                        <td>{{ wafer.storage_location }}</td>
                        <td>{{ wafer.received_date }}</td>
                        <td>{{ wafer.project_leader }}</td>
                        <td>{{ wafer.incoming_qty }}</td>
                        <td>{{ wafer.slice_no }}</td>
                        <td>{{ wafer.withdraw_date }}</td>
                        <td>{{ wafer.withdraw_by }}</td>
                        <td>{{ wafer.withdraw_purpose }}</td>
                        <td>{{ wafer.balance }}</td>
                        <td class="trans_type" id="trans_type">{{ wafer.trans_type }}</td>
                        
                    </tr>

                    {% endfor %}

                </table>

            </div>

        </div>

    </div>


</div>


{% endblock %}
