{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Wafer Description {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-xs-7">
            <div class="jumbotron p-3">

                <a href="/wafer_type" class="navbar-brand">
                    <h3>{{ wafer_type.wafer_device }} ({{wafer_type.wafer_charge}})</h3>
                </a>

                <button type="button" style="margin:5px;" class="btn btn-success float-right" data-toggle="modal"
                        data-target="#mymodal"><i class="fa fa-plus"></i> Add Wafer</button>

                <div class="form-group pull-right" style="margin:5px;">
                    <input type="text" class="form-control" id="mySearch" placeholder="Search">
                </div>

                </br>
                </br>


                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}

                {% if category=="error" %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                            <span aria-hidden="true">x</span>
                        </button>

                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-success alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                            <span aria-hidden="true">x</span>
                        </button>

                        {{ message }}
                    </div>
                {% endif %}

                {% endfor %}
                {% endif %}
                {% endwith %}


                <table id="myTable" class="table table-hover table-sm text-center">
                    <thead>
                        <tr>
                            <th>Storage Location</th>
                            <th>Received Date</th>
                            <th>Project Leader</th>
                            <th>Incoming Qty (slice)</th>
                            <th>Slice No.</th>
                            <th>Transaction Date</th>
                            <th>Transaction By</th>
                            <th>Transaction Purpose/Remarks</th>
                            <th>Latest Balance</th>
                            <th>Transaction Status</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>



                    {% for wafer in wafer_descriptions %}
                    <tr>
                        <td>{{ wafer.storage_location }}</td>
                        <td>{{ wafer.received_date }}</td>
                        <td>{{ wafer.project_leader }}</td>
                        <td>{{ wafer.incoming_qty }}</td>
                        <td>{{ wafer.slice_no }}</td>
                        <td>{{ wafer.withdraw_date }}</td>
                        <td>{{ wafer.withdraw_by }}</td>
                        <td>{{ wafer.withdraw_purpose }}</td>
                        <td>{{ wafer.balance }}</td>
                        <td class="trans_type" id="trans_type">{{ wafer.trans_type }}</td>


                        {% if wafer.trans_type=="available" %}
                        <td>
                            <a href="/wafer_description/update/{{wafer.wafer_description_id}}" class="btn" data-toggle="modal"
                               data-target="#modaledit{{wafer.wafer_description_id}}"><i class="fa fa-pencil"></i></a>
                        </td>
                        {% elif wafer.trans_type=="not available" %}
                        <td>
                            <a href="/wafer_description/update/{{wafer.wafer_description_id}}" class="btn" data-toggle="modal"
                               data-target="#modaledit{{wafer.wafer_description_id}}"><i class="fa fa-pencil"></i></a>
                        </td>
                        {% endif %}

                        <td>
                            <a href="/wafer_description/delete/{{wafer.wafer_description_id}}" class="btn"
                               onclick="return confirm('Are You Sure To Delete?')"><i class="fa fa-trash-o"></i></a>
                        </td>

                        {% if wafer.trans_type == "available" %}
                        <td>
                            <a href="/wafer_description/withdraw/{{wafer.wafer_description_id}}" class="btn btn-danger"
                               data-toggle="modal" data-target="#modalwithdraw{{wafer.wafer_description_id}}"><i class="fa fa-sign-in"></i>
                            </a>
                        </td>
                        {% elif wafer.trans_type == "not available" %}
                        <td>
                            <a href="/wafer_description/withdraw/{{wafer.wafer_description_id}}" class="btn btn-danger"
                               data-toggle="modal" data-target="#modalwithdraw{{wafer.wafer_description_id}}"><i class="fa fa-sign-in"></i>
                            </a>
                        </td>
                        {% endif %}
                    </tr>



                  <!-- Modal Edit Material-->
<div id="modaledit{{wafer.wafer_description_id}}" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">

         <div class="modal-header">
            <h4 class="modal-title">Update Wafer Description</h4>
         </div>

         <div class="modal-body">
            <form action="/wafer_description/update/{{ wafer.wafer_description_id }}" method="POST">

                    <div class="form-group">
                        <label>Slice No.:</label>
                        <input type="text" class="form-control" name="slice_no" required>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>

</div>



                    <!--Modal Withdraw Material-->

<div id="modalwithdraw{{wafer.wafer_description_id}}" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">

         <div class="modal-header">
            <h4 class="modal-title">Add Wafer Transaction</h4>
         </div>

         <div class="modal-body">
            <form action="/wafer_description/withdraw/{{ wafer.wafer_description_id }}" method="POST">

                    <div class="form-group">
                        <label>Transaction Date:</label>
                        <input type="date" class="form-control" name="withdraw_date" required>
                    </div>

                    <div class="form-group">
                        <label>Transaction By:</label>
                        <input type="text" class="form-control" name="withdraw_by" required>
                    </div>

                    <div class="form-group">
                        <label>Transaction Purpose/Remarks:</label>
                        <input type="text" class="form-control" name="withdraw_purpose" required>
                    </div>

                    <div class="form-group">
                        <label>Transaction Status:</label>
                        <select class="form-control" name="trans_type" required>
                            <option value="">Select A Transaction Status</option>
                            <option value="withdrawal">Withdraw</option>
                            <option value="returning partial">Return Partial</option>
                            <option value="returning full">Return Full</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Confirm</button>
                    </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>

</div>


                    {% endfor %}


                </table>


            </div>



                  <!-- Modal Add Material-->
<div id="mymodal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Add Wafer Description</h4>
         </div>

         <div class="modal-body">
            <form action="/wafer_description/insert/{{ wafer_type.wafer_type_id }}" method="POST">

                    <div class="form-group">
                        <label>Storage Location:</label>
                        <input type="text" class="form-control" name="storage_location" required>
                    </div>

                    <div class="form-group">
                        <label>Received Date:</label>
                        <input type="date" class="form-control" name="received_date" required>
                    </div>

                    <div class="form-group">
                        <label>Project Leader:</label>
                        <input type="text" class="form-control" name="project_leader" required>
                    </div>

                    <div class="form-group">
                        <label>Incoming Qty (slice):</label>
                        <input type="number" class="form-control" name="incoming_qty" required>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Add</button>
                    </div>

            </form>


         </div>


         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>


      </div>


   </div>


</div>





        </div>

    </div>


</div>


{% endblock %}